.chat__input {
  border-radius: 20px;
}

.chat__input > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chat__input > form > input {
  position: fixed;
  bottom: 30px;
  width: 30vw;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 20px;
}

.chat__input > form > button {
  display: none !important;
}
