.product {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  margin: 10px;
  z-index: 1;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__title {
  font-weight: 800;
}

.product__price {
  font-weight: 500;
  margin-top: 5px;
}

.product__rating {
  font-size: xx-large;
  color: orange;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  font-size: 22px;
  color: black;
  background-color: orange;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.product > button:hover {
  color: white;
  transform: scale(1.1);
}
