.product {
  margin-top: -75px;
  border: 5px solid;
  text-align: center;
  margin: -75px 10px 10px 10px;
  z-index: 1;
}

.product .product__rating {
  color: orange;
  font-size: 40px;
}

.product > img {
  width: 150px;
  height: 200px;
  object-fit: contain;
  padding: 10%;
  border-radius: 50px;
}

.product > button {
  font-size: 22px;
  color: black;
  background-color: orange;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.product > button:hover {
  color: wheat;
  transform: scale(1.1);
}
