.checkout__content {
  display: grid;
  min-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .checkout__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
