.checkout__content {
  display: flex;
  justify-content: space-around;
}

.checkout_ad {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .checkout__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
