.banner {
  background-size: "cover";
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__content {
  margin-left: 30px;
  padding-top: 80px;
  height: 190px;
}

.banner__title {
  font-size: rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  text-shadow: 1px 1px 5px #2a2a2a;
}

.banner__overview {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.9rem;
  max-width: 230px;
  max-height: 90px;
  text-shadow: 1px 1px 5px #2a2a2a;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.7rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.3s;
}

.banner--fadeBottom {
  padding-top: 140px;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

.banner__trailer {
  width: 40%;
  float: right;
  margin-top: 50px;
  margin-right: 20px;
}
