@import "../../common/primaryButton.scss";

.checkout__title {
  margin-left: 20px;
}

.checkoutProduct {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  display: flex;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__title {
  font-size: 20px;
  font-weight: 800;
}

.checkoutProduct__rating {
  font-size: xx-large;
  color: orange;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  margin-top: -10px;
}

.checkoutProduct__info > button {
  @extend button;
}
